#input_search {
    border: 1px solid #ccc;
    height: 29px;
    border-radius: 5px;
}

#search {
    margin-bottom: 10px;
}
@media(max-width:320px){
    .jstree-container-ul{
        margin-left: -12px;
    }
}
.card-header h4{
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.mrgn_top{
    margin-top:20px;
}
#input_search{
    height: 34px;
    padding: 10px;
}